* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Racing Sans One";
}

.title{
    text-align: center;
    font-size: 30px;
    margin-top: 2%;
}

.header {
    width: 100%;
    height: 75px;
    background: rgba(67, 80, 81, 0.178);
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 60px 20px;
}

.wrap {
    width: 30%;
}

.search {
    width: 150%;
    display: flex;
    margin-bottom: 27px;
}

.header .logo {
    height: 60px;
    margin-bottom: 200px;

}

.lors {
    position: relative;
    float: right;
    margin-top: 15px;
}

.lors a {
    text-decoration: none;
    font-size: larger;
    color: black;
}

.menuCategory a {
    font-size: 25px;
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.menuCategory {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 21%;
    border: 1px solid #63C5DA;
    background: #63C5DA;
}

.form input {
    width: 1000px;
    height: 80%;
    margin-left: 100px;
}

.form button {
    width: 10%;
    height: 50%;
}
.form {
    margin-top: 15px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: #00b4cc;
}

.searchButton {
    width: 80px;
    height: 50px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}
ul {
    margin-left: 110px;
    display: flex;
}
ul li {
    list-style: none;
    margin-left: 72px;
    font-size: 15px;
}
ul li a {
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover {
    color: orange;
}

.footer {
    margin-top: 10%;
    width: 100%;
    height: 190px;
    background: rgba(67, 80, 81, 0.178);
    float: left;
}

.address,
.describe,
.about {
    float: left;
    font-size: 20px;
    margin-left: 0px;
    padding: 50px;
    padding-left: 150px;
    width: 33.33%;
}

.fa-shopping-cart {
    margin-right: 20px;
}

.purchaseHistory{
    border: 3px solid #00b4cc;
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 25px;
    background-color: aquamarine;
    padding: 10px;
    text-decoration: none;
}

